$tiny-link: bold normal 10px/12px Helvetica, Arial, sans-serif;
$link-color: #095A9B;
$hover-color: #6D887F;
$light-blue: #AFC1CE;


a, a:visited {
  text-decoration: none;
  color: $link-color;
}
a:hover {
     color: $hover-color;
}

body {
  margin: 0px;
}
header {
  padding-top: 25px;
  .current_score {
    border: 2px solid $link-color;
    padding: 4px;
    font: 12px/14px Lucida Grande, sans-serif;
    text-transform: uppercase;
    margin: 5px 0px 0px 5px;
    background-color: #F8F8F8;
  }
  .image, .meta {
    float: left;
  }
  .user_info {
    img {
      float: left;
      margin-right: 5px;
    }
    p {
      margin: 0px 0px 0px 5px;
      a {
        font: $tiny-link;
        text-transform: uppercase;
        text-decoration: none;


      }
    }
  }
  
  nav {
    ul {
      li {
        float: left;
        margin-right: 30px;
        list-style-type: none;
      }
    }
  }
}

.formtastic.week {
  li {
    clear: left;
    margin-bottom: 40px;
  }
}
.preseason {
  h3 {
    font-size: 16px;
    margin: 0px;
    a {
      color: $link-color;
    }
  }
  span.small {
    font-size: 10px;
    color: #666;
  }
  margin-bottom: 15px;
}
.user {
  clear: both;
  float: left;
  margin-bottom: 25px;
  .image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .rank {
    font-size: 48px;
    text-align: right;
  }
  .score {
    font-size: 24px;
    &.red {
      color: red;
    }
  }
  .stats {
    color: #666;
    font-size: 13px;
    .luck {
      font-size: 14px;
      span.number {
        &.red {
          color: red;
        }
      }
      .disclaimer {
        font-size: 12px;
      }
    }
  }
}

span.small {
  a {
    font-size: 9px;
    text-transform: uppercase;
  }
}
form {
  li {
    list-style-type: none;
    p.inline-errors {
      color: red;
      text-align: right;
      width: 200px;
      margin-bottom: 1.3rem;
    }
    &.file {
      clear: left;
      border-top: 1px dotted $light-blue;
      padding-top: 10px;
    }
    label {
      width: 200px;
      text-align: right;
      margin-right: 10px;
      color: #666;
      float: left;
    }
    textarea {
      width: 400px;
      height:300px;
    }
  }
  
  p.inline-hints {
    float: left;
    clear: both;

    text-align: right;
    width: 180px;
    font-size: 10px;    
  }
  
  a.add_nested_fields, a.remove_nested_fields {
    margin: 10px 25px 15px 205px;
    float: left;
    clear: left;
    text-transform: uppercase;
    border: 1px solid $light-blue;
    padding: 4px;
    color: $link-color;
    font-size: 12px;
  }
  input[type=submit] {
    float: left;
    clear: left;
    margin-left: 205px;
  }
}

ol {
  li {
    margin-bottom: 5px;
  }
}
  
.posted_by {
  font: 11px/13px Helvetica, Arial, sans-serif;
  color: #333;
}

.post_date {
  font: 10px/12px Helvetica, Arial, sans-serif;
  color: #666;  
}

#preview {
  .buttons {
    margin: 15px 25px 30px 15px;
    input[type=submit] {
      font-size: 15px !important;
      float: left;
    }
    clear: right;
  }
}

#comments, #preview {
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    margin: 0px 0px 10px 0px;
  }
}
#comments {
  .comment {
    padding: 10px 0px 15px 0px;
    border-bottom: 1px dotted $hover-color;
    font-size: 14px;
    p {
      font-size: 16px;
      line-height: 20px;
      width: 75%;
    }
  }
}
#preview {
  background-color: #ababab;}

.comment_form {
  padding: 10px 0px 15px 0px;
  border-bottom: 1px dotted $hover-color;
}
.comment {
 
  padding: 10px 0px 15px 0px;
  
  h1 {
    font-size: 1.6em;
  }
  
  h2 {
    font-size: 1.4em;
  }
  
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
}
.sidebar_box {
  border: 1px dotted $hover-color;
  padding: 3px;
  h3 {
    margin-top: 5px;
    border-bottom: 1px dotted $hover-color;
  }
  li {
    font-size: 12px;
    line-height: 14px;
  }
}

.currency_title {
  font-size: 24px;
}
.currency_country {
  font-size: 18px;
}
.currency_wikipedia_link {
  font-size: 10px;
}

.exchange_rate {
  .rate_window {
    .result {
      font-size: 1.6em;
      span.unit {
        color: #05a8e2;
      }
    }
    .meta {
      .name {
        font-size: 12px;
      }
      .value {
        font-size: .9em;
        color: #999;
      }
    }
    .equal {
      font-size: 1.8em;
      text-align: center;
    }
    .right {
      text-align: right;
    }
  }
}
table.weeks_table, table#leaderboard  {
  border-collapse: collapse;
  th {
    padding: 5px;
  }
  td {
    padding: 3px;
    border: 1px dotted $light-blue;
    font-size: 14px;
    .small {
      
      font-size: 10px;
      color: #666;
    }
    &.red {
      color: red;
    }
    &.week_name {
      font-style: italic;
    }
    &.comments {
      font-size: 10px;
      color: #666;
      .number {
        font-size: 13px;
        float: left;
        margin-right: 10px;
      }
      .when {
        font-size: 9px;
      }
    }
    .yahoo {
      font-size: 10px;
      font-style: italic;
    }
  }
  tr.winner {
    border: 2px solid $link-color;
    td {
      font-weight: bold;
    }
  }
  tfoot {
    tr {
      background-color: #f0f0f0;
      td {
        font-weight: bold;

      }
    }
  }
}
footer {
  margin-top: 50px;
  .container {
    padding-top: 35px;
    padding-bottom: 50px;
  }
  background-color: $light-blue;
}
.yield {
  margin-top: 25px;
}